.toggle-switch {
  display: flex;
  position: relative;
  padding-right: 20px;
}

.toggle-switch__box {
  border-radius: 25px;
  border: 2px solid gray;
  width: 56px;
  height: 28px;
  appearance: none;
}

.toggle-switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.toggle-switch__slider-F {
  left: 28px;
}

.toggle-switch__temp-C {
  position: absolute;
  top: -8px;
  color: grey;
  right: 29px;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
}

.toggle-switch__temp-F {
  color: gray;
  right: 57px;
  position: absolute;
  top: -8px;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
}

.switch__active {
  color: #f3f3f3;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
  cursor: pointer;
}
