.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 171px;
}

.footer__text {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
